<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnpc.epai.core.worktask.mapper.SrProjectTaskSoftwareMapper">
  <resultMap id="BaseResultMap" type="com.cnpc.epai.core.worktask.pojo.SrProjectTaskSoftware">
    <id column="task_software_id" jdbcType="VARCHAR" property="taskSoftwareId" />
    <result column="workroom_id" jdbcType="VARCHAR" property="workroomId" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="software_id" jdbcType="VARCHAR" property="softwareId" />
    <result column="software_type_id" jdbcType="VARCHAR" property="softwareTypeId" />
    <result column="sort_sequence" jdbcType="NUMERIC" property="sortSequence" />
    <result column="bsflag" jdbcType="CHAR" property="bsflag" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_software_id, workroom_id, task_id, software_id, software_type_id, sort_sequence, 
    bsflag, remarks, create_user, create_date, update_user, update_date
  </sql>
  <select id="selectByExample" parameterType="com.cnpc.epai.core.worktask.pojo.SrProjectTaskSoftwareExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from epai_crpadmin.sr_project_task_software
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from epai_crpadmin.sr_project_task_software
    where task_software_id = #{taskSoftwareId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from epai_crpadmin.sr_project_task_software
    where task_software_id = #{taskSoftwareId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cnpc.epai.core.worktask.pojo.SrProjectTaskSoftwareExample">
    delete from epai_crpadmin.sr_project_task_software
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cnpc.epai.core.worktask.pojo.SrProjectTaskSoftware">
    insert into epai_crpadmin.sr_project_task_software (task_software_id, workroom_id, task_id, 
      software_id, software_type_id, sort_sequence, 
      bsflag, remarks, create_user, 
      create_date, update_user, update_date
      )
    values (#{taskSoftwareId,jdbcType=VARCHAR}, #{workroomId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, 
      #{softwareId,jdbcType=VARCHAR}, #{softwareTypeId,jdbcType=VARCHAR}, #{sortSequence,jdbcType=NUMERIC}, 
      #{bsflag,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cnpc.epai.core.worktask.pojo.SrProjectTaskSoftware">
    insert into epai_crpadmin.sr_project_task_software
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskSoftwareId != null">
        task_software_id,
      </if>
      <if test="workroomId != null">
        workroom_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="softwareId != null">
        software_id,
      </if>
      <if test="softwareTypeId != null">
        software_type_id,
      </if>
      <if test="sortSequence != null">
        sort_sequence,
      </if>
      <if test="bsflag != null">
        bsflag,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskSoftwareId != null">
        #{taskSoftwareId,jdbcType=VARCHAR},
      </if>
      <if test="workroomId != null">
        #{workroomId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="softwareId != null">
        #{softwareId,jdbcType=VARCHAR},
      </if>
      <if test="softwareTypeId != null">
        #{softwareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="sortSequence != null">
        #{sortSequence,jdbcType=NUMERIC},
      </if>
      <if test="bsflag != null">
        #{bsflag,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update epai_crpadmin.sr_project_task_software
    <set>
      <if test="record.taskSoftwareId != null">
        task_software_id = #{record.taskSoftwareId,jdbcType=VARCHAR},
      </if>
      <if test="record.workroomId != null">
        workroom_id = #{record.workroomId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareId != null">
        software_id = #{record.softwareId,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareTypeId != null">
        software_type_id = #{record.softwareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.sortSequence != null">
        sort_sequence = #{record.sortSequence,jdbcType=NUMERIC},
      </if>
      <if test="record.bsflag != null">
        bsflag = #{record.bsflag,jdbcType=CHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update epai_crpadmin.sr_project_task_software
    set task_software_id = #{record.taskSoftwareId,jdbcType=VARCHAR},
      workroom_id = #{record.workroomId,jdbcType=VARCHAR},
      task_id = #{record.taskId,jdbcType=VARCHAR},
      software_id = #{record.softwareId,jdbcType=VARCHAR},
      software_type_id = #{record.softwareTypeId,jdbcType=VARCHAR},
      sort_sequence = #{record.sortSequence,jdbcType=NUMERIC},
      bsflag = #{record.bsflag,jdbcType=CHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cnpc.epai.core.worktask.pojo.SrProjectTaskSoftware">
    update epai_crpadmin.sr_project_task_software
    <set>
      <if test="workroomId != null">
        workroom_id = #{workroomId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="softwareId != null">
        software_id = #{softwareId,jdbcType=VARCHAR},
      </if>
      <if test="softwareTypeId != null">
        software_type_id = #{softwareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="sortSequence != null">
        sort_sequence = #{sortSequence,jdbcType=NUMERIC},
      </if>
      <if test="bsflag != null">
        bsflag = #{bsflag,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where task_software_id = #{taskSoftwareId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cnpc.epai.core.worktask.pojo.SrProjectTaskSoftware">
    update epai_crpadmin.sr_project_task_software
    set workroom_id = #{workroomId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      software_id = #{softwareId,jdbcType=VARCHAR},
      software_type_id = #{softwareTypeId,jdbcType=VARCHAR},
      sort_sequence = #{sortSequence,jdbcType=NUMERIC},
      bsflag = #{bsflag,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where task_software_id = #{taskSoftwareId,jdbcType=VARCHAR}
  </update>
</mapper>